.hello,.stop{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-size: 5vw;
  background: #f9f9f9;
}
.stop{
  display: none;
}

.title{
  display: flex;
  align-items: center;
}

.ball{
width: 7vw;
height: 7vw;
background-color: red;
border-radius: 100%;
}

canvas{
  position: absolute;
  inset: 0;
  z-index: -1;
}

.timer,.fps{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center ;
  top: 0;
  padding-block: 4px;
  width: 80px;
  background-color: coral;
}

.timer{
  right: 0;
}
.fps{
  left: 0;
}



